body {
    background-image: url(images/lines.jpeg);
    background-repeat: repeat;
    background-position: center 10px;
}

table.left {
  width: 150;
}

td.ScoreLeft {
  text-align    : Right;
  padding-right : 0.5em;
}

td.ScoreRight {
}
td.Main {
  text-align  : center;
}
td.letter {
  font-family : monospace;  /*Sans;*/
  font-size   : 2em;
  text-align  : center;
}

/* **********  table main  ********** */
table.Main {
    color           : #00ff00;
    background-image: url(images/CZS064_1.png);
}

tr.main{
    vertical-align: text-top;
}

/* **********  table main  ********** */
table.quiz {
    color: #000000;
    background-image: url(images/lines_1.jpeg);
}

/* **********  table main  ********** */
tr.overview {
    vertical-align: text-top;
}

input.letter {
  font-family : monospace;  /*Sans;*/
  font-size   : 2em;
  text-align  : right;
}
